[Unit]
Description=BeePlus WebSocket Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/beeplusv2ray/websocket/ws.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
